body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

.container {
  height: 10rem;
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #343334;
  border-radius: 0.5rem;

  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#counter {
  font-size: 4rem;
  color: #fff;
}

#counterAdd {
  font-size: 2rem;
  color: #727172;
}

#counterLower {
  font-size: 2rem;
  color: #727172;
}

.btn {
  font-size: 3rem;
  background-color: transparent;
  color: #727172;
  border: none;
  transition: all 0.3s;
}
