body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

.container {
  height: 10rem;
  width: 25rem;
  background-color: #343334;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  color: #727172;
}

.btn {
  font-size: 3rem;
  background-color: transparent;
  color: #727172;
  border: none;
  outline: none;
  opacity: 0.5;
}

#counter {
  font-size: 4rem;
  color: #fff;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
